<div class="container">
    <div class="row" style="background-image: url('./img/1673976486365.jpeg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
        <div class="col-1"></div>
        <div class="col-3">
            <img src="./img/1593888625693.jpeg" alt="Picture of Nicholas Finch" style="max-width: 10rem; height: auto; border-radius: 50%; border: 5px solid white;">
        </div>
    </div>
</div>