<head>
    <title>Koala-fications</title>
    <style>
        .center {
            text-align: center;
        }

        .side-borders {
            border-left: 3px solid black;
            border-right: 3px solid black;
        }

        h1 {
            font-weight: bold;
        }

        h2,
        h3,
        h4,
        h5 {
            font-weight: bold;
            margin-top: 1%;
            margin-bottom: 0%;
        }

        h4:before {
            content: "⬢";
            padding-right: 5px;
        }

        li {
            list-style: none;
            padding-left: 1em;
            text-indent: -1em;
        }

        li:before {
            content: "❖";
            padding-right: 5px;
        }

        .row {
            padding-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Nicholas Finch</h1>
        <hr>
        <div class="row">
            <div class="col center">linkedin.com/in/nicholasfinch</div>
            <div class="col side-borders center">C: 928.225.4696</div>
            <div class="col center">nicholasfinch5026@gmail.com</div>
        </div>
        <h4>PROGRAMMING LANGUAGES AND TOOLS</h4>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <li><strong>Proficient:</strong> C# .NET, JavaScript, Node.js, Express JS, SQL, MySQL, SQL Server
                    Management Studio,
                    Python, Flask API, HTML5, CSS3, Azure DevOps, Splunk, PostMan, Insomnia, Heroku</li>
                <li><strong>Exposure:</strong> AWS, C/C++, Java, PHP, SQLite, Django, React, Angular, VBScript, Jira,
                    Linux,
                    Bash, PowerShell</li>
            </div>
        </div>
        <h4>RELEVANT EXPERIENCE</h4>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Senior Software Developer</strong><br>
                <strong>Schultz Technology</strong> - Remote, USA
                <li>Developed the Fetchit product, leading testing initiatives and implementing automation strategies
                    that enhanced software quality, streamlined workflows, and fostered a collaborative team environment
                    for continuous improvement.</li>
                <li>Championed automation projects that streamlined workflows and improved operational efficiency,
                    resulting in faster deployment cycles and reduced error rates.</li>
                <li>Provided leadership and mentorship to team members, fostering a collaborative environment that
                    encouraged knowledge sharing and continuous improvement in project execution.</li>
            </div>
            <div class="col-3">
                <strong>May 2024 to Present</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Senior Technology Advisor</strong><br>
                <strong>Vondern</strong> - Remote, USA
                <li>Advised on technology strategy, architecture, and implementation for client projects.</li>
                <li>Provided guidance on microservices adoption, cloud migration, and software design best practices.</li>
            </div>
            <div class="col-3">
                <strong>Jun 2024 to Present</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Senior Technology Advisor</strong><br>
                <strong>Swiftlane</strong> - Remote, USA
                <li>Oversaw technology initiatives, ensuring alignment with business goals and SDLC best practices.</li>
                <li>Collaborated with cross-functional teams to improve project management and delivery timelines.</li>
            </div>
            <div class="col-3">
                <strong>Apr 2024 to Jul 2025</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Senior Software Engineer</strong><br>
                <strong>RapidDeploy</strong> - Remote, USA
                <li>Optimized and maintained a critical data processing pipeline using Azure serverless functions,
                    enhancing scalability, readability, and maintainability for emergency response applications.</li>
                <li>Collaborated closely with a multidisciplinary team to integrate raw data processing with front-end
                    frameworks, improving the efficiency and reliability of emergency response systems.</li>
                <li>Enhanced and further developed the IoT device for emergency call centers, enabling seamless data
                    transfer and enhancing caller location accuracy.</li>
                <li>Utilized C# .NET and Azure serverless functions to develop robust software solutions, handling large
                    volumes of data with high reliability.</li>
            </div>
            <div class="col-3">
                <strong>May 2023 to May 2024</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Founder / Software Engineer</strong><br>
                <strong>MailMind AI</strong> - Remote, USA
                <li>Built and developed a RESTful API with Python's Flask and deployed on Heroku,
                    significantly streamlining the process of consuming and categorizing email data.</li>
                <li>Led all aspects of the business, from sales strategies to accounting, adapting swiftly to meet
                    evolving needs.</li>
                <li>Fostered a collaborative team environment, working closely with colleagues to share knowledge and
                    achieve common goals.</li>
            </div>
            <div class="col-3">
                <strong>Nov 2022 to Jul 2025</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Sr. Software Engineer / Analyst</strong><br>
                <strong>Top Class Actions</strong> - Phoenix, AZ
                <li>Developed a RESTful API using JavaScript, Node.js, Express, and Heroku to offload customer lead data
                    from WordPress, reducing query load by 1000 transactions per day.</li>
                <li>Implemented memoization techniques to optimize data transfer speeds, resulting in performance gains
                    of 300%-500%.</li>
                <li>Created API Integration to Google Sheets using JavaScript and AppScript to provide daily usage
                    statistics, reducing workload by 27%.</li>
                <li>Built custom middleware endpoint to connect with New Relic, enabling detection of issues 30% sooner.</li>
            </div>
            <div class="col-3">
                <strong>Aug 2022 to Nov 2023</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Software Engineer</strong><br>
                <strong>Creative Testing Solutions</strong> - Phoenix, AZ
                <li>Engineered robust and performant RESTful API connecting 3rd party app to backend server using C#
                    .NET Core, cutting code writing, testing, and deployment time by 60%.</li>
                <li>Developed web app using C# .NET Core and Azure in 7 months for a project slated for completion in a
                    year.</li>
                <li>Leveraged Azure DevOps to better manage bug reporting and issues boosting productivity levels up
                    40%.</li>
                <li>Architected new on-prem web app using C# .NET Core and Azure, assisting Micro-Technologists in their
                    testing of incoming samples, boosting testing throughput by 63%.</li>
                <li>Managed 3 C# MVC apps and began updating to .NET 6, bringing apps up to standard with best
                    practices. </li>

            </div>
            <div class="col-3">
                <strong>Jan 2022 to Aug 2022</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Product Support Specialist</strong><br>
                <strong>Emailage/LexisNexis</strong> - Chandler, AZ
                <li>Built alerts that were able to determine issues within API responses using Splunk SPL (Search
                    Process Language) allowing first-response teams to catch issues 15% sooner.</li>
                <li>Trained and onboarded 5+ new team members through sharing of best practices and company procedures
                    resulting in a 70% decrease in total turnaround.</li>
                <li>Streamlined call center workflow through creation of explicit decision trees and proper responses to
                    incoming calls bringing incoming ticket volume down 67%. </li>
            </div>
            <div class="col-3">
                <strong>Mar 2020 to Dec 2021</strong>
            </div>

        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Software Product Specialist</strong><br>
                <strong>Logicor</strong> - Mesa, AZ
                <li>Prevented parcel data loss utilizing JavaScript and ASP Classic, allowing our client to save
                    upwards of $31,000 a year.</li>
                <li>Reduced ticketing pain points found in 3rd party app utilizing Tampermonkey and JavaScript
                    resulting in a 6% decrease in total turnaround.</li>
            </div>
            <div class="col-3">
                <strong>Nov 2018 to Mar 2020</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Student Web Engineer</strong><br>
                <strong>Arizona State University</strong> - Phoenix, AZ
                <li>Using common UX design philosophies redesigned crucial site pages</li>
                <li>Creating a more intuitive web site for students and faculty to use</li>
                <li>Engineered a platform for monitoring computer GPUs across the network</li>
            </div>
            <div class="col-3">
                <strong>Jun 2018 to Sep 2018</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Software Engineer</strong><br>
                <strong>United States Geological Survey</strong> - Flagstaff, AZ
                <li>Created effective user interface in Python using Qt framework for data scientists to use in rock
                    analysis from Mars Curiosity Rover.
                </li>
                <li>Software cited in 3 different research papers</li>
            </div>
            <div class="col-3">
                <strong>May 2016 to Jun 2018</strong>
            </div>
        </div>

        <h4>EDUCATION</h4>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Arizona State University</strong> Tempe, AZ<br>
                <li>Major in Information Technology (BS Online)</li>
                <li>Coursework in relevant field</li>
            </div>
            <div class="col-3">
                <strong>Feb 2017 to May 2020</strong>
            </div>
        </div>

        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <strong>Northern Arizona University </strong> Flagstaff, AZ<br>
                <li>Major in Computer Science</li>
                <li>Minor in Mathematics</li>
                <li>Coursework in Computer Science, Mathematics and Biology</li>
                <li>Coursework in Software Architecture</li>
                <li>Some Emphasis in Electrical Engineering</li>
            </div>
            <div class="col-3">
                <strong>Sep 2011 to Dec 2016</strong>
            </div>
        </div>

        <h4>ACCOMPLISHMENTS</h4>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <li>Coauthored a research paper for spectral analysis of rock samples from Mars</li>
                <li>Participated in Capstone that utilized machine learning algorithms to understand phonemes and
                    prosody (atomicity of human language) and ultimately increase efficiency of understanding on the
                    hardware side.
                </li>
            </div>
        </div>
    </div>
</body>

